{{ form_start(form) }}
    <div style="color: white;">
        {{ form_widget(form) }}
    </div>
    <button class="btn" style="color: white;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

